@model LoginViewModel
@section style {
    <link rel="stylesheet" href="~/css/login.css" />
}
@section script {
    <script src="~/js/login.js"></script>
}
@{
    ViewData["Title"] = "Login Page";
}

<div class=" signin-bg">
    <div class="title">
        <img src="~/assets/meetingRoomLogo.png" class="logo" />
        <h2>Meeting Room Booking</h2>
    </div>
    
    <form method="post">
        <div class="form-title">Sign in</div>
        <div class="input-area">
            <div class="input-section">
                <div class="label">Email or mobile phone number</div>
                <input type="text" class="input-text" name="UserName" />
            </div>
            <div class="input-section">
                <div class="password-label">
                    <div class="label">Your password</div>
                    <span class="icon-toggle" id="toggle-password">
                        <i class="bi bi-eye" id="toggle-icon"></i>
                        <div id="word-toggle">Show</div>
                    </span>
                </div>
                <input type="password" class="input-text" id="password" name="Password" />
            </div>
            <button type="submit" asp-controller="Home" asp-action="Index">Log in</button>
            <div class="extra-text">By continuing, you agree to the <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a></div>
            <div class="forgot-pass">
                <a href="#" class="extra-text">Forgot your password?</a>
            </div>
        </div>
    </form>
</div>


