@using static MeetingRoomBooking.Resources.Views.Screens
@section styles {
    <link rel="stylesheet" href="~/css/footerStyles.css" />
}

<footer class="foot">
    <div class="foot-item"></div>
    <div class="middle-item">
        <a>@UserAgreement</a>
        <a>@TermsOfService</a>
        <a>@PrivacyPolicy</a>
    </div>
    <div class="foot-item">
        English (United States)
    </div>
</footer>
